@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-red: #F41D19;
    --primary-black: #1c1c1c;
    --primary-blue: #005EB6;
    --primary-green: #30670B;
    --primary-yellow: #FFFF00;
    --primary-gray: rgb(184, 184, 184);

    --font-white: #ddd;


    --box-shadow-normal: 0 0 15px rgba(0, 0, 0, 0.2);
    --box-shadow-muted: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
    --border: hsl(0, 0%, 95%);

    --gradient: linear-gradient(0deg, var(--bg-dark)) 95%, var(var(--bg-light));

    --border-card: solid 1px var(--bg-dark);

}


/* Allgemeines Styling */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-dark);
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 27px;
    font-weight: 700;
}

h6 {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

ul {
    list-style: none;
}