.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}


.tab-section {
    max-width: 25vw;
    align-items: center;
    text-align: center;
}

.tab {
    background-color: var(--background-black2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tab h2 {
    color: var(--title-white);
    font-size: 30px;
}

.tab p {
    color: var(--primary-white);
    font-size: 20px;
    margin-bottom: 20px;
}

.tab a {
    color: var(--font-white);
    background-color: var(--background-black);
    padding: 7px;
    border-radius: 8px;
    transition: 0.5s ease;
    text-decoration: none;
}

.tab a:hover {
    background-color: var(--primary-white);
    color: var(--background-black);
    transition: 0.5s ease;
}

#arbeit {
    color: var(--title-white);
    font-size: 15px;
    background-color: rgb(101, 16, 13);
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    border-radius: 10px;
}

#fertig {
    color: var(--title-white);
    font-size: 15px;
    background-color: rgb(22, 82, 28);
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    border-radius: 10px;
}

