* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

h3 {

}

:root {
    --font-white: rgba(181, 181, 181, 0.7);
    --primary-white: rgba(219, 219, 219, 0.8);
    --title-white: rgba(255, 255, 255);
    --background-black: rgb(42, 41, 41);
    --background-black2: rgb(32, 31, 31);
}
 
body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #1b1b1b;
}

hr {
    border: 0.5px solid var(--font-white);
    margin: 10px 0;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    gap: 10vh;
}

.top-nav span:first-child {
    letter-spacing: 3px;
}

.top-nav span:last-child {
    font-size: 18px;
    color: var(--font-white);
}


.top-nav h1 {
    color: var(--title-white);
    padding: 15px 20px;
    font-size: 45px;
    margin-left: 10px;
}

.links a {
    color: var(--font-white);
    text-decoration: none;
    padding: 25px 20px;
    display: block;
    font-size: 25px;
    margin-left: 20px;
    transition: 0.5s ease;
}

.top-nav a:hover {
    color: var(--primary-white);
    transition: 0.5s ease;
}

.links {
    display: flex;
    margin-right: 30px;
    flex-wrap: wrap;
}

main {
    padding: 15px 20px;
    
}

.begruessung {
    text-align: center;
    font-size: 20px;
    color: var(--primary-white);
}

.top-nav > a {
    text-decoration: none;

}

.underline {
    text-decoration: underline;
    color: var(--primary-white);
}

.title-create {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.title-create a {
    color: var(--primary-white);
    background-color: var(--background-black);
    display: flex;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    max-width: 20vw;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 20px;
}

.title-create a:hover {
    background-color: var(--primary-white);
    color: var(--background-black);
    transition: 0.5s ease;
}

.create p {
    color: var(--title-white);
    margin: 20px 20px;
    text-decoration: underline;
}

.values {
    color: var(--primary-white);
    font-size: 18px;
    margin: 20px 0;
    display: flex;
    gap: 30px;
}

.values span {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 25px;
}

.values input {
    width: 200px;
    height: 25px;
    font-size: 15px;
    color: var(--font-white);
    background-color: var(--background-black);
    border-radius: 5px;
    padding: 5px;
}

.back a {
    color: var(--font-white);
    font-size: 20px;
}

.termin-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-top: 10px;
}

.termin-item * {
    background-color: var(--background-black);
}

.termin-item {
    background-color: var(--background-black);
    max-width: 20vw;
    padding: 15px;
    border-radius: 20px;
    margin: 20px 10px;
    transition: 0.5s ease;
}

.termin-item *:hover {
    cursor: pointer;
}

.termin-item:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    cursor: pointer;;
}


.termin-item h3 {
    color: var(--title-white);
    font-size: 25px;
}

.termin-item p {
    color: var(--primary-white);
    font-size: 17px;
}

.termin-item button {
    font-size: 17px;
    background-color: var(--background-black2);
    text-align: left;
    color: var(--font-white);
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding: 5px 10px;
    max-width: fit-content;
    border-radius: 10px;
    transition: 0.5s ease;
    margin-top: 10px;
}

.termin-item button:hover {
    cursor: pointer;
    background-color: var(--primary-white);
    color: var(--background-black2);
    transition: 0.5s ease;
}

#datum {
    margin-top: 10px;
    font-weight: bold;
}

.termin-item hr {
    width: 100%;
    margin-top: 10px;
}

.termin-detail h3 {
    color: var(--title-white);
    font-size: 30px;
}

.termin-detail p {
    color: var(--primary-white);
    font-size: 20px;
}

.termin-detail {
    list-style-type: none;
    text-decoration: none;
    padding-top: 10px;
    background-color: var(--background-black2);
    color: var(--font-white);
    border-radius: 20px;
    padding: 30px;
}

.termin-detail * {
    background-color: var(--background-black2);
    border-radius: 20px;
    padding: 5px;
}

.submit-button {
    color: var(--primary-white);
    font-size: 20px;
    margin-left: 10px;
    transition: 0.5s ease;
    background-color: #1b1b1b;
}

.submit-button:hover {
    cursor: pointer;
    color: var(--title-white);
    transition: 0.5s ease;
}

.sorting input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: var(--primary-white);
    background-color: #1b1b1b;
}

.sorting {
    display: flex;
    gap: 10px;
}

.view {
    display: flex;
    justify-content: space-between;
}

.left {
    flex-grow: 1;
}

.right > p {
    color: var(--title-white);
    margin: 20px 20px;
    font-size: 25px;
    text-decoration: underline;
}


#category {
    color: var(--font-white);
    margin-left: 10px;
    font-size: 15px;
    background-color: #1b1b1b;
}


#closeDetail {
    color: white;
    font-size: 20px;
}

#closeDetail:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions-category {
    display: flex;
    justify-content: space-between;
}

.actions-category p {
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    color: var(--title-white);
}


.anleitung {
    color: var(--primary-white);
    font-size: 25px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 30px;
}

.anleitung span {
    color: var(--font-white);
}



.category-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 10px;
}


.category-item > p {
    padding: 6px 10px;
    border-radius: 8px;
    color: var(--title-white);
}

#edit-color {
    background-color: #1b1b1b;
    color: var(--primary-white);
    font-size: 15px;
}