body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #1b1b1b;

}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: var(--background-black2);
    margin-top: 12%;
    padding: 30px 0;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(108, 108, 108, 0.1);
}

.all > h1 {
    color: var(--title-white);
    font-size: 60px;
    margin-bottom: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background-black);
    padding: 10px;
    border-radius: 10px;
}

.input-inside {
    display: flex;
    padding: 5px;
}

.input-inside > label {
    width: 17vw;
    font-size: 25px;
    color: var(--primary-white);
}

.input-inside > input {
    background-color: var(--background-black2);
    width: 20vw;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 10px;
    color: var(--primary-white);
}

.all > h6 {
    font-size: 20px;
    color: var(--primary-white);
    margin-top: 20px;
}

.all a {
    font-size: 20px;
    color: var(--font-white);
}

.submit-btn {
    background-color: var(--background-black2);
    color: var(--title-white);
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: var(--background-black);
    transition: 0.5s ease;
    transform: scale(1.02);
}